.C2{
    padding:30px;
}
.C2 hr {color:sienna;}
.C2 p {margin-left:20px;}
body {background-image:url("images/back40.gif");}

/* Test in sub dir */
.A1{
    width:100px;
}
/*This is a comment*/
.A1.p{
    text-align:center;
    /*This is another comment*/
    color:black;
    font-family:arial;
}

/*Test in sub dir1*/
.A1111{
    width:100px;
}
/*This is a comment*/
.A11111.p{
    text-align:center;
    /*This is another comment*/
    color:black;
    font-family:arial;
}

/*Test in sub dir11*/
