.A{
    width:100px;
}
/*This is a comment*/
.A.p{
    text-align:center;
    /*This is another comment*/
    color:black;
    font-family:arial;
}
.A1{
    width:100px;
}
/*This is a comment*/
.A1.p{
    text-align:center;
    /*This is another comment*/
    color:black;
    font-family:arial;
}

/*Test in sub dir1*/
.C{
    padding:30px;
}
.C hr {color:sienna;}
.C p {margin-left:20px;}
body {background-image:url("/webutilities/resources/css/images/back40.gif");}
